In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib.lines import Line2D
import matplotlib.ticker as mtick
plt.style.use('ggplot')
import seaborn as sns
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import dataframe_image as dfi

In [2]:
accepted = pd.read_csv('accepted_2007_to_2018Q4.csv', low_memory=False)
rejected = pd.read_csv('rejected_2007_to_2018Q4.csv')

In [6]:
accepted.shape

(2260701, 151)

In [8]:
rejected.shape

(27648741, 9)

In [3]:
accepted.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,"3,600","3,600","3,600",36 months,14,123,C,C4,leadman,10+ years,MORTGAGE,"55,000",Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,6,0,Aug-2003,675,679,1,30,NaN,7,0,"2,765",30,13,w,0,0,"4,422","4,422","3,600",822,0,0,0,Jan-2019,123,NaN,Mar-2019,564,560,0,30,1,Individual,NaN,NaN,NaN,0,722,"144,904",2,2,0,1,21,"4,981",36,3,3,722,34,"9,300",3,1,4,4,"20,701","1,506",37,0,0,148,128,3,3,1,4,69,4,69,2,2,4,2,5,3,4,9,4,7,0,0,0,3,77,0,0,0,"178,050","7,746","2,400","13,734",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,"24,700","24,700","24,700",36 months,12,820,C,C1,Engineer,10+ years,MORTGAGE,"65,000",Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16,1,Dec-1999,715,719,4,6,NaN,22,0,"21,470",19,38,w,0,0,"25,680","25,680","24,700",980,0,0,0,Jun-2016,926,NaN,Mar-2019,699,695,0,NaN,1,Individual,NaN,NaN,NaN,0,0,"204,396",1,1,0,1,19,"18,005",73,2,3,"6,472",29,"111,800",0,0,6,4,"9,733","57,830",27,0,0,113,192,2,2,4,2,NaN,0,6,0,5,5,13,17,6,20,27,5,22,0,0,0,2,97,8,0,0,"314,017","39,475","79,300","24,667",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,"20,000","20,000","20,000",60 months,11,433,B,B4,truck driver,10+ years,MORTGAGE,"63,000",Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,11,0,Aug-2000,695,699,0,NaN,NaN,6,0,"7,869",56,18,w,0,0,"22,706","22,706","20,000","2,706",0,0,0,Jun-2017,"15,813",NaN,Mar-2019,704,700,0,NaN,1,Joint App,"71,000",14,Not Verified,0,0,"189,699",0,1,0,4,19,"10,827",73,0,2,"2,081",65,"14,000",2,5,1,6,"31,617","2,737",56,0,0,125,184,14,14,5,101,NaN,10,NaN,0,2,3,2,4,6,4,7,3,6,0,0,0,0,100,50,0,0,"218,418","18,696","6,200","14,877",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,"35,000","35,000","35,000",60 months,15,830,C,C5,Information Systems Officer,10+ years,MORTGAGE,"110,000",Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17,0,Sep-2008,785,789,0,NaN,NaN,13,0,"7,802",12,17,w,"15,898","15,898","31,464","31,464","19,102","12,362",0,0,0,Feb-2019,830,Apr-2019,Mar-2019,679,675,0,NaN,1,Individual,NaN,NaN,NaN,0,0,"301,500",1,1,0,1,23,"12,609",70,1,1,"6,987",45,"67,300",0,1,0,2,"23,192","54,962",12,0,0,36,87,2,2,1,2,NaN,NaN,NaN,0,4,5,8,10,2,10,13,5,13,0,0,0,1,100,0,0,0,"381,215","52,226","62,500","18,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,"10,400","10,400","10,400",60 months,22,290,F,F1,Contract Specialist,3 years,MORTGAGE,"104,433",Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25,1,Jun-1998,695,699,3,12,NaN,12,0,"21,929",64,35,w,0,0,"11,740","11,740","10,400","1,340",0,0,0,Jul-2016,"10,129",NaN,Mar-2018,704,700,0,NaN,1,Individual,NaN,NaN,NaN,0,0,"331,730",1,3,0,3,14,"73,839",84,4,7,"9,702",78,"34,000",2,1,3,10,"27,644","4,567",78,0,0,128,210,4,4,6,4,12,1,12,0,4,6,5,9,10,7,19,6,12,0,0,0,4,97,60,0,0,"439,570","95,768","20,300","88,097",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
rejected.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,"1,000",2007-05-26,Wedding Covered but No Honeymoon,693,10%,481xx,NM,4 years,0
1,"1,000",2007-05-26,Consolidating Debt,703,10%,010xx,MA,< 1 year,0
2,"11,000",2007-05-27,Want to consolidate my debt,715,10%,212xx,MD,1 year,0
3,"6,000",2007-05-27,waksman,698,38.64%,017xx,MA,< 1 year,0
4,"1,500",2007-05-27,mdrigo,509,9.43%,209xx,MD,< 1 year,0

In [14]:
print('Accepted Column List\n', accepted.columns)

Accepted Column List
 Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [15]:
print('Rejected Column List\n', rejected.columns)

Rejected Column List
 Index(['Amount Requested', 'Application Date', 'Loan Title', 'Risk_Score',
       'Debt-To-Income Ratio', 'Zip Code', 'State', 'Employment Length',
       'Policy Code'],
      dtype='object')

In [21]:
missing_accepted = pd.DataFrame({
    'Column': accepted.columns,
    'Missing_Values': accepted.isnull().sum().values.astype(float),
    'Percent_Missing': (accepted.isnull().mean() * 100).values
}).sort_values(by='Missing_Values', ascending=False).reset_index(drop=True)

print('\nMissing Values by Column:\n')
missing_accepted

Missing Values by Column:

,Column,Missing_Values,Percent_Missing
0,member_id,2260701,100
1,orig_projected_additional_accrued_interest,2252050,100
2,hardship_reason,2249784,100
3,hardship_payoff_balance_amount,2249784,100
4,hardship_last_payment_amount,2249784,100
5,payment_plan_start_date,2249784,100
6,hardship_type,2249784,100
7,hardship_status,2249784,100
8,hardship_start_date,2249784,100
9,deferral_term,2249784,100
10,hardship_amount,2249784,100
11,hardship_dpd,2249784,100
12,hardship_loan_status,2249784,100
13,hardship_length,2249784,100
14,hardship_end_date,2249784,100
15,settlement_status,2226455,98
16,debt_settlement_flag_date,2226455,98
17,settlement_term,2226455,98
18,settlement_percentage,2226455,98
19,settlement_date,2226455,98
20,settlement_amount,2226455,98
21,sec_app_mths_since_last_major_derog,2224759,98
22,sec_app_revol_util,2154517,95
23,revol_bal_joint,2152681,95
24,sec_app_inq_last_6mths,2152680,95
25,sec_app_num_rev_accts,2152680,95
26,sec_app_open_acc,2152680,95
27,sec_app_earliest_cr_line,2152680,95
28,sec_app_fico_range_high,2152680,95
29,sec_app_mort_acc,2152680,95
30,sec_app_open_act_il,2152680,95
31,sec_app_fico_range_low,2152680,95
32,sec_app_collections_12_mths_ex_med,2152680,95
33,sec_app_chargeoff_within_12_mths,2152680,95
34,verification_status_joint,2144971,95
35,dti_joint,2139995,95
36,annual_inc_joint,2139991,95
37,desc,2134636,94
38,mths_since_last_record,1901545,84
39,mths_since_recent_bc_dlq,1741000,77
40,mths_since_last_major_derog,1679926,74
41,mths_since_recent_revol_delinq,1520342,67
42,next_pymnt_d,1345343,60
43,mths_since_last_delinq,1158535,51
44,il_util,1068883,47
45,mths_since_rcnt_il,909957,40
46,all_util,866381,38
47,open_acc_6m,866163,38
48,inq_last_12m,866163,38
49,total_cu_tl,866163,38
50,open_il_24m,866162,38
51,max_bal_bc,866162,38
52,open_act_il,866162,38
53,open_il_12m,866162,38
54,open_rv_24m,866162,38
55,total_bal_il,866162,38
56,inq_fi,866162,38
57,open_rv_12m,866162,38
58,mths_since_recent_inq,295468,13
59,emp_title,167002,7
60,num_tl_120dpd_2m,153690,7
61,emp_length,146940,6
62,mo_sin_old_il_acct,139104,6
63,bc_util,76104,3
64,percent_bc_gt_75,75412,3
65,bc_open_to_buy,74968,3
66,mths_since_recent_bc,73445,3
67,pct_tl_nvr_dlq,70464,3
68,avg_cur_bal,70379,3
69,mo_sin_rcnt_rev_tl_op,70310,3
70,num_rev_accts,70310,3
71,mo_sin_old_rev_tl_op,70310,3
72,num_op_rev_tl,70309,3
73,num_il_tl,70309,3
74,num_tl_op_past_12m,70309,3
75,tot_coll_amt,70309,3
76,num_actv_rev_tl,70309,3
77,total_rev_hi_lim,70309,3
78,tot_cur_bal,70309,3
79,num_tl_30dpd,70309,3
80,num_actv_bc_tl,70309,3
81,num_accts_ever_120_pd,70309,3
82,num_rev_tl_bal_gt_0,70309,3
83,mo_sin_rcnt_tl,70309,3
84,num_tl_90g_dpd_24m,70309,3
85,tot_hi_cred_lim,70309,3
86,total_il_high_credit_limit,70309,3
87,num_bc_tl,70309,3
88,num_bc_sats,58623,3
89,num_sats,58623,3
90,mort_acc,50063,2
91,total_bal_ex_mort,50063,2
92,total_bc_limit,50063,2
93,acc_open_past_24mths,50063,2
94,title,23359,1
95,last_pymnt_d,2460,0
96,revol_util,1835,0
97,dti,1744,0
98,pub_rec_bankruptcies,1398,0
99,chargeoff_within_12_mths,178,0
100,collections_12_mths_ex_med,178,0
101,tax_liens,138,0
102,last_credit_pull_d,105,0
103,inq_last_6mths,63,0
104,delinq_amnt,62,0
105,total_acc,62,0
106,open_acc,62,0
107,earliest_cr_line,62,0
108,pub_rec,62,0
109,delinq_2yrs,62,0
110,acc_now_delinq,62,0
111,annual_inc,37,0
112,zip_code,34,0
113,loan_amnt,33,0
114,funded_amnt,33,0
115,term,33,0
116,funded_amnt_inv,33,0
117,int_rate,33,0
118,verification_status,33,0
119,out_prncp,33,0
120,purpose,33,0
121,pymnt_plan,33,0
122,loan_status,33,0
123,issue_d,33,0
124,grade,33,0
125,home_ownership,33,0
126,url,33,0
127,installment,33,0
128,sub_grade,33,0
129,revol_bal,33,0
130,policy_code,33,0
131,application_type,33,0
132,last_pymnt_amnt,33,0
133,last_fico_range_low,33,0
134,addr_state,33,0
135,collection_recovery_fee,33,0
136,initial_list_status,33,0
137,last_fico_range_high,33,0
138,fico_range_low,33,0
139,fico_range_high,33,0
140,out_prncp_inv,33,0
141,total_pymnt_inv,33,0
142,total_pymnt,33,0
143,total_rec_prncp,33,0
144,recoveries,33,0
145,total_rec_late_fee,33,0
146,total_rec_int,33,0
147,disbursement_method,33,0
148,hardship_flag,33,0
149,debt_settlement_flag,33,0
150,id,0,0

In [5]:
missing_rejected = pd.DataFrame({
    'Column': rejected.columns,
    'Missing_Values': rejected.isnull().sum().values.astype(float),
    'Percent_Missing': (rejected.isnull().mean() * 100).values
}).sort_values(by='Missing_Values', ascending=False).reset_index(drop=True)

print('\nMissing Values by Column:\n')
missing_rejected

Missing Values by Column:

                 Column  Missing_Values  Percent_Missing
0            Risk_Score      18,497,630               67
1     Employment Length         951,355                3
2            Loan Title           1,305                0
3           Policy Code             918                0
4              Zip Code             293                0
5                 State              22                0
6      Amount Requested               0                0
7  Debt-To-Income Ratio               0                0
8      Application Date               0                0